@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700|Give+You+Glory);

/*------------------------------------------------------------------
Project Name: Foodpicky - Online food ordering system 
Version: 1.0
Authors: GPW Team  
Channel Name: Genie Projects World
-------------------------------------------------------------------*/


/* Table of Content
*****************************************************


01. General Properties
- Styling
- Buttons
- Inputs
- Forms
02. Main Nav
03. Header
04. Food items
05. Pricing
06. Map


*/

body {
    background: rgba(252, 251, 249, 0.68);
    font-size: 16px;
    color: #4d4f56;
    font-weight: 400;
    overflow-x: hidden;
}


/* ==========================
*   Typohraphy
============================*/

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Source Sans Pro", sans-serif;
    color: #25282b;
}

a {
    color: #ba1d20;
}

a:hover {
    text-decoration: none;
    color: #ef3b0e
}

.lead {
    font-size: 1.25rem;
    font-weight: 400;
    color: #404048;
}

ul {
    list-style-type: none;
    padding: 0;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #eaebeb;
}


/*==================================
* Bootstrap grid tweaks
*===================================*/

.container {
    max-width: 1270px;
    width: 94%;
}


/* Remove space from columns */

.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

.row.no-gutter [class*="col-"]:not(:first-child),
.row.no-gutter [class*="col-"]:not(:last-child) {
    padding-right: 0;
    padding-left: 0;
}


/*==================================
* Just simple warppers
*===================================*/

.page-wrapper {
    padding-top: 68px;
    /* Used for inpper pages if navigation fixed to the top */
}

.inner-page {
    margin-top: 30px;
    margin-bottom: 50px
}


/*==================================
* Foms
*===================================*/

.custom-control-input:checked~.custom-control-indicator {
    color: #fff;
    background-color: #ba1d20;
    margin-top: 0;
    padding: 10px;
    border-radius: 100%;
}

.custom-checkbox .custom-control-indicator {
    border-radius: 100%;
}

.custom-control-indicator {
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 1px 3px rgba(93, 92, 99, 0.05);
    border: 1px solid rgba(116, 135, 150, 0.23);
}

.custom-control-input:focus~.custom-control-indicator {
    -webkit-box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #ba1d20;
    box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #ba1d20;
}

.custom-control-input:active~.custom-control-indicator {
    color: #fff;
    background-color: #ba1d20
}

.custom-control-input:disabled~.custom-control-indicator {
    cursor: not-allowed;
    background-color: #eee
}

.custom-control-input:disabled~.custom-control-description {
    color: #767679;
}

.custom-control {
    padding-left: 30px;
}

.form-control {
    border: 1px solid #eaebeb;
    border-radius: 2px;
}

.custom-select {
    line-height: 1
}


/* ==========================
*   Buttons
============================*/

.form-control-lg,
.dropdown-menu,
.btn,
.btn-group-lg>.btn,
.btn-lg,
.img-rounded {
    border-radius: 4px
}

.btn {
    transition: all .4s;
}

.btn-secondary {
    color: #373a3c;
    background-color: rgba(252, 251, 249, 0.68);
    border-color: #eaebeb;
}

.theme-btn {
    background-color: #ba1d20;
    border-color: #ba1d20;
    color: #fff
}
.btn:hover {
    background-color: #fff;
    border-color: #ba1d20;
    color: #fff
}

.theme-btn-dash {
    border: 2px dashed #ba1d20;
    background-color: transparent;
    color: #ba1d20
}

.theme-btn-dash:hover,
.theme-btn,
.theme-btn.btn-lg:hover,
.btn-secondary:hover {
    background-color: #ba1d20;
    color: #fff;
    border: 1px solid #ba1d20
}

.theme-btn-dash:hover {
    border: 2px solid #ba1d20;
    color: #fff
}

.bg-white {
    background-color: #fff
}

.primary-color {
    color: #ba1d20
}


/* ==========================
*   Helpers
============================*/

.space-xs {
    padding-bottom: 15px;
    padding-top: 15px
}

.space-sm {
    padding-bottom: 30;
    padding-top: 30px
}

.space-md {
    padding-top: 90px;
    padding-bottom: 90px
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.m-t-10 {
    margin-top: 10px
}

.m-t-20 {
    margin-top: 20px
}

.m-t-30 {
    margin-top: 30px;
}

.b-l {
    border-left: 1px solid #edee12;
}

.b-r {
    border-left: 1px solid #edee12;
}

.b-t {
    border-top: 1px solid #edee12;
}

.b-b {
    border-bottom: 1px solid #edee12;
}

.align-wrap {
    display: inline-table;
    min-height: 100%;
}

.align-vertical {
    display: table-cell;
    vertical-align: middle;
}

.font-white {
    color: #fff
}


/* ============================
* PAGINATION
==============================*/

.page-item.disabled .page-link,
.page-item.disabled .page-link:focus,
.page-item.disabled .page-link:hover {
    border-color: #eaebeb;
}

.page-link {
    color: inherit;
    background-color: #fff;
    border: 1px solid #eaebeb;
}

.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover {
    background-color: #ba1d20;
    border-color: #ba1d20;
}


/* ==========================
*   Header and navigation
============================*/

#header {
    width: 100%;
    border: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-fixed {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.nav-link{
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-decoration: none;
    display: inline-block;
    padding: 10px 40px 10px 40px;
    position: relative;
    border: 3px solid #ba1d20;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav-link:hover{
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-decoration: none;
    display: inline-block;
    padding: 10px 40px 10px 40px;
    position: relative;
    border: 3px solid #ffffff;
    border-radius: 20px;
    background-color: #ba1d20;
    transition: 0.8s;
}

.navbar {
    background-image: url(../images/img/bg-wood.jpg);
    padding: .95rem 1rem;
    border-radius: 0;
}

.navbar-nav .nav-item {
    padding-left: 10px;
}

.navbar-dark .navbar-toggler {
    background-image: none;
    border-color: transparent;
}

@media (max-width: 62em) {
    .navbar-nav {
        padding-top: .425rem;
        padding-left: 0.75rem;
    }
    .navbar-nav .nav-item {
        float: none;
    }
    .navbar-brand {
        float: right;
    }
    .navbar-brand,
    .navbar-nav .nav-item {
        display: block;
    }
    .navbar-nav .nav-item + .nav-item {
        margin-left: 0;
    }
    .dropdown-menu {
        position: relative;
        float: none;
        background-color: transparent;
    }
    .dropdown-menu a {
        color: #fff
    }
}

.headroom--pinned {
    display: block;
}

.headroom--unpinned {
    display: none;
}

.navbar-fixed-top {
    position: fixed
}

.navbar-toggler {
    padding: 4px 0;
    font-size: 1.25rem;
    line-height: 1;
    background: 0 0;
    border: 1px solid transparent;
    color: #ba1d20;
    border-radius: 2px;
}


/********* top links part ***********/

.top-links {
    padding: 15px 0;
    border-bottom: 1px solid #eaebeb;
}

.top-links ul {
    margin-bottom: 0;
}

.link-item a {
    font-size: 12px;
    color: #414551;
}

.link-item.active span {
    background-color: #ba1d20;
    color: #fff
}

.links {
    display: block
}

.links span {
    border: 1px solid #eaebeb;
    border-radius: 100px;
    width: 32px;
    height: 32px;
    color: #3a3e47;
    font-weight: 600;
    display: inline-block;
    margin-right: 18px;
    text-align: center;
    line-height: 28px;
    -webkit-transition: all .3s;
    transition: all .3s
}

.links li:hover span {
    background-color: #e8500e;
    color: #fff
}

@media (max-width:800px) {
    .top-links {
        display: none
    }
}


/* ==========================
*   Hero
============================*/

.hero {
    padding-top: 12%;
    padding-bottom: 10%;
    text-align: center;
    position: relative;
}
.hero .bg-image{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hero h1 {
    font-family: "Give You Glory", cursive;
    color: #fff;
    font-size: 3.7em;
    font-weight: 700;
}

.hero:before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(7, 6, 29, 0.37);
}

.hero .hero-inner {
    position: relative;
    z-index: 1
}


/* ==========================
*   Hero steps
============================*/

.step-item {
    display: inline-block;
    margin: 0 40px 0;
    position: relative;
}

.banner-form {
    margin-bottom: 60px;
    display: block;
    margin-top: 20px;
}

.step-item svg {
    display: inline-block;
    width: 34px;
    height: 34px;
}

.step-item img {
    display: block;
    margin: 0 auto 15px;
}

.step-item h4 {
    font-family: "Give You Glory", cursive;
    color: #fff;
    font-size: 21px;
}

.step-item h4 span {
    color: #ba1d20;
}

.step1:after,
.step2:after {
    position: absolute;
    content: "";
    right: -58%;
    top: -20%;
    width: 130px;
    height: 32px;
    background: url(../images/arrow.png);
}

.step2:after {
    background: url(../images/arrow-dotted.png);
    height: 25px;
    right: -95%;
    top: -15%;
}

@media (max-width: 568px) and (min-width: 280px) {
    .step1:after,
    .step2:after {
        display: none
    }
    .hero h1 {
        font-size: 2.2em;
        padding-top: 75px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .step-item {
        margin: 0 30px 0;
    }
}


/* ==========================
*   Detect location
============================*/

.location-match {
    padding: 20px 0;
    border-bottom: 1px solid #e6e6e6;
}

.location-match span {
    font-weight: 600;
}

.location-match a {
    color: #ba1d20;
}

.location-match a:hover {
    color: #43434c;
}


/* ==========================
*  Popular block
============================*/

.popular {
    padding: 70px 0 90px;
    background-size: 100%;
}

.food-item-wrap {
    border: 1px solid #eaebeb;
    border-radius: 2px;
    overflow: hidden;
    margin-bottom: 30px;
    background: #fafaf8;
}

.food-item-wrap h5 a {
    color: #25282b;
    font-size: 21px;
    font-weight: 600;
}

.food-item-wrap .title h3 {
    font-size: 16px;
    margin-bottom: 35px;
    color: #414551;
    line-height: 21px;
    font-weight: 300;
}

.food-item-wrap .price {
    font-size: 21px;
    font-weight: 700;
    color: #000;
    margin-top: 4px;
    display: inline-block;
}

.food-item-wrap .product-name {
    margin-bottom: 20px;
}

.food-item-wrap .content {
    padding: 25px 15px 35px;
}

.food-item-wrap .restaurant-block {
    border-top: 1px solid #eaebeb;
    float: left;
    width: 100%;
}

.food-item-wrap .right-text {
    margin-left: 10px;
}

.food-item-wrap .right-text a {
    display: block;
}

.food-item-wrap .left {
    float: left;
    padding: 8px 15px;
}

.food-item-wrap .left img {
    padding-top: 3px;
}

@media (min-width: 320px) and (max-width: 568px) {
    .food-item-wrap .left {
        float: left;
        padding: 10px;
    }
    .food-item .left img {
        width: 45px
    }
    .food-item-wrap .right-text {
        font-size: 13px;
    }
}

.food-item-wrap .right {
    padding: 10px 0;
}

.food-item-wrap .right-like-part {
    border-left: 1px solid #eaebeb;
    padding: 25px 15px;
    font-size: 13px;
}

@media (min-width: 280px) and (max-width: 580px) {
    .food-item-wrap .right-like-part {
        padding: 24px 10px;
        font-size: 10px;
    }
}

.food-item-wrap .right-like-part img {
    vertical-align: middle;
    margin-right: 5px;
}

.food-item-wrap .right-text a {
    color: #25282b;
    font-weight: 400;
}

.food-item-wrap .right-text span,
.food-item-wrap .right-like-part,
.food-item-wrap .right-like-part span {
    font-weight: 300;
    color: #748796;
}

.food-item-wrap .figure-wrap {
    position: relative;
    height: 210px;
}

.food-item-wrap .food-item-wrap figure {
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
}

.food-item-wrap .food-item-wrap figure img {
    width: 100%;
}

.food-item-wrap .figure-wrap:after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: "";
    background: url(../images/zig-zag.png);
    width: 100%;
    height: 5px;
}

.food-item-wrap:hover h5>a,
.food-item-wrap:hover .right-text>a {
    color: #ba1d20;
}

.food-item-wrap .figure-text {
    position: absolute;
    top: 0;
    padding: 13px 28px 18px 18px;
    width: 100%;
    height: 100%;
}

.food-item-wrap .figure-text .bottom {
    position: absolute;
    bottom: 25px;
    float: left;
    width: 87%;
}

.food-item-wrap .review {
    margin-top: 5px;
    font-size: 10px;
    text-transform: uppercase;
}

.food-item-wrap .distance {
    background: #ba1d20;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    padding: 0 10px;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 20px;
}

.food-item-wrap .rating i {
    color: #ffd953;
    font-size: 16px;
}

.food-item-wrap .rating .fa-star-o {
    font-size: 17px;
}

.food-item-wrap .rating {
    position: absolute;
    bottom: 30px;
    left: 20px;
}

.food-item-wrap .review {
    right: 30px;
    position: absolute;
    bottom: 30px;
}

.food-item-wrap .review a {
    color: #fff;
}

.food-item-wrap .left-sidebar,
.food-item-wrap .right-sidebar {
    width: 300px;
}

.food-item-wrap .lf-ghost {
    width: 395px!important;
    float: left;
}



@media (min-width: 544px) and (max-width: 767px) {
    .food-item-wrap .right-text {
        margin: 5px 10px;
        font-size: 14px;
        line-height: 20px;
    }
    .food-item-wrap .right-like-part {
        width: 100%;
        padding: 5px 10px;
        background: #fff;
        border: 0;
        border-top: 1px solid #eaebeb;
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .food-item-wrap .restaurant-block {
        text-align: center;
    }
    .food-item-wrap .left {
        float: none
    }
    .food-item-wrap .pull-left {
        float: none
    }
    .food-item-wrap .right-text span,
    .food-item-wrap .right-like-part,
    .food-item-wrap .right-like-part span {
        width: 100%;
    }
    .right-like-part.pull-right {
        background-color: #fff;
        border: 0;
        border-top: 1px solid #eaebeb;
        padding: 10px;
    }
    .food-item-wrap .price-btn-block {
        text-align: center
    }
    .food-item-wrap .price-btn-block .price {
        margin-bottom: 15px;
        display: block;
    }
    .food-item-wrap .price-btn-block .btn {
        float: none;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .food-item-wrap .left {
        padding: 10px;
        font-size: 11px;
        line-height: 20px;
    }
}



/*============================================
* Modal 
=============================================*/

.cart-addon .food-item {
    margin-bottom: 20px;
    border-bottom: 1px solid #ededed;
    padding: 2px 0 15px;
}

.cart-addon .food-item:last-of-type {
    border-bottom: none
}

.cart-addon .food-item .item-img img {
    max-width: 70px;
}

.cart-addon .food-item .rest-descr {
    margin-left: 80px;
}


.cart-addon .food-item h6 a {
    font-size: 16px;
    color: #4d4f56;
    display: block;
    margin: 4px 0 0 0;
    line-height: 20px;
}

.cart-addon .food-item .price {
    font-weight: 600;
    margin-top: 15px;
    display: block;
    color: #25282b;
}

.cart-addon .food-item .form-control {
    margin-top: 8px;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
    right: -15px;
    position: absolute;
    top: -15px;
    background-color: #ba1d20;
    opacity: 1;
    width: 30px;
    height: 30px;
    color: #fff;
    text-shadow: none;
    font-size: 14px;
    display: block;
}

button.close span {
    display: block;
}

/* ==========================
*  Footer
============================*/

footer {
    background-image: url(../images/img/bg-wood.jpg);;
    padding: 90px 0;
    z-index: 1;
    position: relative;
}

.payment-options ul li {
    display: inline-block;
    margin-right: 8px;
}

footer h5 {
    color: #ba1d20;
    font-family: "Source Sans Pro", sans-serif;
    margin-bottom: 15px;
}

.footer-logo-block img {
    display: block;
    margin-bottom: 15px;
}

footer p,
footer,
footer span {
    font-weight: 300;
    color: #000;
}

.address h5 a {
    color: #ba1d20;
    font-size: 26px;
    font-family: "Give You Glory", cursive;
    margin-left: 20px;
    font-weight: 600;
}

.address h5 a:hover {
    color: #fff;
}

.popular-locations ul li {
    display: inline-block;
    width: 49%;
}

footer ul li {
    margin-bottom: 6px;
}

footer ul li a {
    color: #000;
    transition: all .3s;
}

.how-it-works-links {
    margin-bottom: 70px;
}

.address p {
    margin-bottom: 35px;
}

footer ul li a:hover {
    color: #ba1d20;
    transition: 0.8s;
    font-weight: 200px;
}

footer li a {
    line-height: 20px;
    display: inline-block;
}

.payment-options ul {
    margin-top: 10px;
    float: left;
    width: 100%;
}

@media (min-width:320px) and (max-width:768px) {
    .footer-logo-block {
        margin-bottom: 25px
    }
}


/* ==========================
*  Inner pages
============================*/

.inner-page-hero {
    padding-top: 5%;
    padding-bottom: 5%;
}


/********* profile banner part ***********/

.profile-banner figure img {
    width: 100%;
}

.image-wrap {
    border-radius: 2px;
    padding: 10px;
    float: left;
    background: #fff;
}

.image-wrap figure {
    background: #FFF;
    border-radius: 2px;
    display: block;
    overflow: hidden;
    float: left;
    margin-bottom: 0;
}

.image-wrap figure img {
    max-width: 100%;
    display: block
}

.profile p {
    color: #fff;
}

.banner figure {
    margin-bottom: 0;
}

.profile-desc h6 a {
    font-size: 26px;
    line-height: 31px;
    color: #fff;
}

.profile-img {
    width: 24.7%;
}

.profile .right-text span {
    margin-bottom: 8px;
    display: block;
}

.profile-desc h6 {
    display: inline-block;
    margin-right: 3rem;
    margin-bottom: 10px;
}

.profile-desc a.btn {
    display: inline-block;
    padding: 3px 20px;
    background-color: #82b21c;
    vertical-align: text-bottom;
    font-size: 13px;
    color: #fff;
}

.profile-desc .right-text {
    width: 100%;
    border-right: 0;
    color: rgba(255, 255, 255, .5);
    margin-top: 30px;
}

.profile-desc .nav-item a {
    color: #fff;
}

.profile-desc .nav-item.ratings a span i {
    color: #ffd953;
    font-size: 16px;
}

@media (min-width:320px) and (max-width:768px) {
    .profile-desc .right-text {
        margin-top: 0;
    }
    .profile-desc h6 {
        margin-right: 0;
    }
    .image-wrap {
        padding: 1px;
        border-radius: 2px;
        margin-bottom: 20px
    }
    .profile-desc a.btn {
        float: right
    }
    .image-wrap img {
        width: auto;
    }
    .profile-img {
        width: 100%
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .profile-desc .right-text {
        margin-top: 0;
    }
}


/********* breadcrumb part ***********/

.breadcrumb {
    background: transparent;
    padding: 22px 0;
    border-bottom: 1px solid #e6e6e6;
}

.breadcrumb ul li {
    display: inline-block;
    margin-right: 40px;
    position: relative;
}

.breadcrumb ul li:before {
    position: absolute;
    left: -25px;
    top: 0;
    content: "/";
}

.breadcrumb ul li:first-child:before {
    content: none;
}

.breadcrumb ul li a,
.breadcrumb ul li {
    color: #333366;
}

.breadcrumb ul,
.breadcrumb {
    margin-bottom: 0;
}

@media (min-width:320px) and (max-width: 568px) {
    .breadcrumb ul li {
        display: inline-block;
        margin-right: 15px;
        position: relative;
    }
    .breadcrumb ul li:before {
        display: none
    }
}

.result-show .dropdown button {
    color: #333366;
    font-size: 14px;
    border: 0;
}

.result-show div i {
    margin-left: 10px;
    font-size: 22px;
    vertical-align: middle;
    color: #000;
}

.result-show {
    padding: 7px 0 10px;
    border-bottom: 1px solid #eaebeb;
    color: #333366;
    margin-bottom: 20px;
}

.result-show p {
    padding: 0;
    margin: 5px 0;
}

.sidebar {
    border: 1px solid #eaebeb;
    background: #fafaf8;
    border-radius: 3px;
}

.sidebar-inner {
    padding-left: 15px;
    padding-right: 15px;
}

.sidebar-inner .sidebar input,
.sidebar .input-group-btn .btn {
    height: 55px;
    border-left: 0;
    border-right: 0;
}

.widget {
    border: 1px solid #eaebeb;
    background: #fafaf8;
    border-radius: 3px;
    margin-bottom: 20px;
}

.widget-heading {
    padding: 15px;
    color: #fff;
    border-radius: 3px;
    border-bottom: 1px solid #eaebeb;
}

 .widget-heading {
    border-bottom: none
}

.widget-heading .widget-title {
    font-size: 16px;
    font-weight: 600;
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
}

.widget-heading .widget-title .btn {
    padding: 0px 24px;
}

.widget-delivery .col-xs-6 {
    padding: 25px 15px 20px;
    background: #fff;
    border-right: 1px solid #eaebeb;
    display: -webkit-inline-box;
    border-bottom: 1px solid #eaebeb;
}

.widget-delivery .col-xs-6:last-of-type {
    border-right: 1px solid transparent;
}

.sidebar .widget-delivery .col-xs-6 {
    border-bottom: none
}

.sidebar-title {
    padding: 15px 15px 15px;
    background: #ba1d20;
    float: left;
    width: 100%;
}

.sidebar-title h6 {
    float: left;
    margin-bottom: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

.sidebar-title i {
    float: right;
    color: #fff;
    font-size: 15px;
    margin-top: 3px;
}

.main-block ul li {
    line-height: 28px;
    font-weight: 300;
    display: block;
    border-bottom: 1px solid #eaebeb;
    font-weight: 500;
    color: #414551;
}

.main-block ul li a {
    color: #414551;
    display: block;
    font-weight: 500;
    padding: 15px;
}

.main-block ul {
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.main-block ul li:hover {
    background: #fffdfd;
}

.main-block ul li:hover a {
    color: #ba1d20
}

.main-block ul:hover li:last-child {
    border-bottom: 1px solid transparent;
    border-bottom: 1px solid #eaebeb;
}

.main-block ul li:first-of-type {
    border-top: none
}

a.more-link {
    padding-left: 15px;
    margin: 5px 0 25px;
    float: left;
}

.block {
    border-bottom: 1px solid #eaebeb;
    margin-top: 30px;
}

.main-block form ul li {
    padding: 15px
}

.main-block .input-group input,
.main-block .input-group-btn {
    height: 55px;
    border-left: none
}


/* Food items */


.widget {
    border: 1px solid #eaebeb;
    background: #fafaf8;
    border-radius: 2px;
    position: relative;
}

.widget-body {
    padding: 20px;
}

.panel {
    margin-bottom: 15px;
    border: 1px solid #dcdee3;
    border-radius: 3px;
    box-shadow: none;
}

.panel-heading {
    padding: 15px;
    border: none!important;
    border-radius: 0;
}

.panel-heading i {
    padding-right: 7px;
    font-size: 14px
}

.panel-title {
    font-size: 16px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
    color: #25282b;
}

.panel-title a {
    color: #25282b;
}

.panel .panel-body {
    padding: 20px;
}

.list-check>li {
    line-height: 24px;
    position: relative;
    margin-bottom: 10px;
    padding-left: 23px;
}

.list-check>li:after {
    font-family: FontAwesome;
    position: absolute;
    top: 1px;
    left: 0;
    content: "\f05d";
    color: #7ab55c;
    font-size: 18px;
}

.food-item {
    padding: 15px
}

.food-item:first-of-type {
    border-bottom: none
}

.food-item .restaurant-logo {
    max-width: 100px;
    height: auto;
    display: block;
}

.food-item .restaurant-logo img {
    max-width: 100%;
    display: block
}

 .food-item:first-of-type {
    border-top: 1px solid #eaebeb;
}

 .food-item:last-of-type {
    border-bottom: transparent
}

 .food-item.white {
    background-color: #fff
}

 .food-item .rest-descr {
    padding-left: 115px;
    padding-top: 0;
}

 .food-item .rest-descr h6 a {
    color: #25282b;
    font-size: 18px;
    font-weight: 600;
}

 .food-item .item-cart-info {
    padding-top: 20px
}

 .food-item .price {
    font-weight: 600;
    color: #000;
    position: relative;
    margin-top: 6px;
}

.order-row .form-control {
    border-radius: 0;
}

.order-row .title-row {
    margin-bottom: 10px;
}

.order-row .title-row a i {
    margin-top: 7px;
}

.order-row {
    border-bottom: 1px solid #eaebeb
}

.order-row:last-of-type {
    border-bottom: none
}

@media (max-width: 543px) {
    .widget-cart {
        margin: 20px auto;
        float: right;
        width: 100%;
    }
}

@media (min-width: 544px) and (max-width: 767px) {
    .widget-cart {
        margin: 20px auto;
        float: right;
        width: 66.666667%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .widget-cart {
        margin-top: 20px;
        float: right;
        width: 66.666667%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 1200px) {}

a[aria-expanded=true] .fa-angle-right {
    display: none;
}

a[aria-expanded=false] .fa-angle-down {
    display: none;
}


/*==============================
*
* Rstaurants 
*
==============================*/

.restaurant-entry {
    border: 1px solid #eaebeb;
    border-radius: 2px;
    margin-bottom: 20px;
}

.restaurant-entry .entry-logo {
    float: left;
    width: 110px;
    height: auto;
    border: 1px solid #ba1d20;
    border-radius: 2px;
    margin-top: 15px;
    margin-left: 15px;
    overflow: hidden
}

.restaurant-entry .entry-logo img {
    max-width: 100%;
    display: block
}

.restaurant-entry .entry-dscr {
    padding-left: 145px;
    margin-top: 15px;
}

.restaurant-entry .entry-dscr h5 a {
    color: #414551;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.restaurant-entry .entry-dscr ul li {
    font-size: 12px;
    margin-top: 7px;
}

.restaurant-entry .right-review {
    padding: 15px 10px;
    border-left: 1px solid #eaebeb;
    min-height: 145px;
}

.restaurant-entry .right-review p {
    color: #414551;
    font-weight: 500;
    margin: 0 0 10px;
}

.restaurant-entry .right-review .rating-block {
    color: #ba1d20;
    background: transparent;
    border: none;
    padding: 5px 15px 5px;
}

@media (min-width: 320px) and (max-width: 991px) {
    .restaurant-entry .entry-logo {
        float: none;
        text-align: center;
        margin: 10px auto;
    }
    .restaurant-entry .entry-dscr {
        padding: 0 15px;
        text-align: center;
    }
    .restaurant-entry .right-review {
        padding: 15px 10px;
        border-left: transparent;
        border-top: 1px solid #eaebeb
    }
}


/*==============================
* TAGS
==============================*/

.tags {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none
}

.tags li {
    float: left
}

.tag:before {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 6px;
    height: 6px;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, .25)
}

.tag:after {
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent
}

.tag:hover {
    color: #fff;
    border-color: #ba1d20;
    background-color: #ba1d20
}




